<a href="https://colab.research.google.com/github/AngusLing/4111029016_CA/blob/main/week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

conn = sqlite3.connect('BBQ.dp')

cursor = conn.cursor()

cursor.execute('''
  CREATE TABLE IF NOT EXISTS meats (
    id INTEGER PRIMARY KEY,
    name TEXT,
    prize INTEGER,
    quantity INTEGER
  )''')

cursor.execute("INSERT INTO meats (name, prize, quantity) VALUES ('chicken', 30, 5)")
cursor.execute("INSERT INTO meats (name, prize, quantity) VALUES ('beaf', 55, 10)")
cursor.execute("INSERT INTO meats (name, prize, quantity) VALUES ('pork', 40, 15)")
conn.commit()

cursor.execute("SELECT * FROM meats")
meats = cursor.fetchall()

print("The column:")
for meat in meats:
  print(meat)


cursor.execute("UPDATE meats SET prize = 35 WHERE name = 'pork'")
cursor.execute("UPDATE meats SET quantity = 30 WHERE name = 'chicken'")
conn.commit()

cursor.execute("SELECT * FROM meats")
meats = cursor.fetchall()

print("The column:")
for meat in meats:
  print(meat)


cursor.execute("DELETE FROM meats WHERE name = 'pork'")
conn.commit()

cursor.execute("SELECT * FROM meats")
meats = cursor.fetchall()

print("The column:")
for meat in meats:
  print(meat)

cursor.close()
conn.close()

The column:
(1, 'chicken', 30, 5)
(2, 'beaf', 55, 10)
(3, 'pork', 40, 15)
The column:
(1, 'chicken', 30, 30)
(2, 'beaf', 55, 10)
(3, 'pork', 35, 15)
The column:
(1, 'chicken', 30, 30)
(2, 'beaf', 55, 10)